<html>
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="/script/map.js"></script>
</head>
<body>

<style>

body {
  font-family: sans-serif;
  margin: 0;
}

</style>

<div id="map" style="height: 100%;"></div>

<script>

{% autoescape None %}
MODE = {{ json_encode(mode) }};
DATA = {{ json_encode(data) }};

$(document).ready(function() {
  init($('#map'), DATA);
});

</script>

</body>
</html>
